API_KEY="<LLM api key (for example, open ai key)>"
VITE_API_STREAMING="True"

#For Azure (you can delete it if you don't use Azure)
OPENAI_API_BASE="<your-openai-api-base>"
OPENAI_API_VERSION="<your-openai-api-version>"
AZURE_DEPLOYMENT_NAME="<your-azure-deployment-name>"
AZURE_EMBEDDINGS_DEPLOYMENT_NAME="<your-embeddings-deployment-name>"
