pytest
flask
redis
flask-restx
pydantic-settings
openapi3-parser
tiktoken
pymongo
celery
openai
boto3
google
google-genai
langchain-community
sentence-transformers
cryptography
google-auth-oauthlib
retry
gTTS
ddgs
duckduckgo_search
psycopg2
markdownify
langchain-openai
google-api-python-client
anthropic