<!DOCTYPE html>
<html>
  <head>
    <title>DocsGPT 🦖 Preview</title>
    <link href="{{url_for('static',filename='dist/css/output.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  </head>
  <body>
    <header class="bg-white p-2 flex justify-between items-center">
      <h1 class="text-lg font-medium">DocsGPT 🦖 Very early Preview</h1>
      <a href="https://github.com/arc53/docsgpt" class="text-blue-500 hover:text-blue-800">About</a>
    </header>
    <div class="flex">
      <div class="w-3/4">
        <div class="w-full flex flex-col h-5/6">
          <div id="chat-container">

            <div id="messages" class="w-full flex flex-col" >
              <div class="bg-indigo-500 text-white p-2 rounded-lg mb-2 self-start">
                <p class="text-sm">Hello, ask me anything about this library. Im here to help</p>
              </div>
              <div class="bg-blue-500 text-white p-2 rounded-lg mb-2 self-end">
                <p class="text-sm">How to merge tables?</p>
              </div>
              <div class="bg-indigo-500 text-white p-2 rounded-lg mb-2 self-start">
                <p class="text-sm">To merge two tables in pandas, you can use the pd.merge() function. The basic syntax is:<br>
pd.merge(left, right, on, how)<br>
where left and right are the two tables to merge, on is the column to merge on, and how is the type of merge to perform.<br>
For example, to merge the two tables df1 and df2 on the column 'key', you can use:<br>
pd.merge(df1, df2, on='key', how='left')<br>
This will return a new DataFrame with all the columns from both tables, and only the rows that match the 'key' column. </p>
              </div>

          </div>
        </div>

        <div class="flex mt-4 mb-2">
        <form id="message-form" autocomplete="off">
          <input autocomplete="false" id="message-input" class="bg-white p-2 rounded-lg ml-2 w-[46rem]" type="text" placeholder="Type your message here...">
          <button id="button-submit" class="bg-blue-500 text-white p-2 rounded-lg ml-2 mr-2 ml-2" type="submit">Send</button>
        </form>
        </div>


    </div>
        </div>
        <div class="w-1/4 p-2">
          <p class="text-sm">This is a chatbot that uses the GPT-3, Faiss and <a href="https://github.com/hwchase17/langchain" class="text-blue-500 hover:text-blue-800">LangChain</a> to answer questions</p>
          <br>
          <p class="text-sm">The source code is available on <a href="https://github.com/arc53/docsgpt" class="text-blue-500 hover:text-blue-800">Github</a></p><br>
          <p class="text-sm">Currently It uses python pandas documentation, so it will respond to information relevant to pandas. If you want to train it on different documentation -  <a href="https://github.com/arc53/docsgpt/wiki/How-to-train-on-other-documentation" class="text-blue-500 hover:text-blue-800"> please follow this guide </a></p><br>
          <p class="text-sm">If you want to launch it on your own server - <a href="https://github.com/arc53/docsgpt/wiki/How-to-train-on-other-documentation" class="text-blue-500 hover:text-blue-800"> follow this guide </a></p>
        </div>
    </div>
  <script src="{{url_for('static',filename='src/chat.js')}}"></script>
  </body>
</html>
