.Block {
    display: flex;
    align-items: center;
}

#Resizable {
    border: 1px solid black;
    height: 100vh;
    width: 100vh;
}

#Draggable {
    background: rgba(1, 1, 1, 0.2);
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    cursor: col-resize;
    height: 20px;
    width: 10px;
}